@import url('https://fonts.googleapis.com/css2?family=Geist+Pixel&display=swap');


body {
    font-family: 'Geist Pixel', monospace;
    background-color: #f5f5dc;
}

header {
    background-color: #f3c3e0;
    padding: 20px;
    text-align: center;
    color: hsl(319, 25%, 46%);
}

nav {
    background-color: #f3c3e0;
    padding: 10px;
    text-align: center;
    font-weight: bold;
    color: hsl(319, 25%, 46%);

    display: flex;
    justify-content: center;
    flex-direction: row;
}